/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }

	ol, ul {
		list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }

*{
-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
					font-family: 'Oswald';}
body{
background: #c77fbc; /* Old browsers */
background: -moz-linear-gradient(top, #c77fbc 46%, #5ad0d0 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #c77fbc 46%,#5ad0d0 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #c77fbc 46%,#5ad0d0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c77fbc', endColorstr='#5ad0d0',GradientType=0 ); /* IE6-9 */
}
.contentAll{
	display: inline-block;
	width: 100%;
}
.container{
	width: 100%;
	height: auto;
	text-align: center;
}
header {
	display: inline-block;
	width: 980px;
	height: 172px;
	text-align: left;
	position: relative;
    z-index: 1;
}
.logo,
.logo_footer{
	display: inline-block;
	width: 30%;
	height: auto;
	vertical-align: middle;
}
.logo img,
.logo_footer img{
	display: inline-block;
	width: 80%;
  height: auto;
  margin-left: -10px;
}
.menu{
	display: inline-block;
	width: 52%;
	vertical-align: middle;
	margin-left: 17%;
	margin-bottom: 14%;
}
.menu ul{
	margin-left: 11%;
}
.menu li{
	display: inline-block;
	margin-right: 36px;

}
.menu a{
	color: #fff;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}
.menu a:hover{
	text-decoration: underline;
	font-weight: bold;
}
.menu li:last-child {
  margin-right: 0!important;
  background: #fff;
  color: #D66CAA!important;
  border-radius: 5px;
  padding: 5px 10px;
}
.menu li:last-child a{
  color: #D66CAA!important;
  font-size: 12px;

}
footer{
	display: inline-block;
	width: 980px;
	text-align: left;
	border-top: 1px solid #fff;
	margin-top: 5%;
	vertical-align: top;
}
.add_link{
	display: inline-block;
    width: 20%;
    vertical-align: middle;
}
.address{
	display: inline-block;
	width: 100%;
}
.address p{
	color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}
.address li{
	display: inline-block;
    height: auto;
    width: 20%;
}
.add_link img{
	width: 80%;
    margin-top: 36%;
    margin-right: 8%;

}
.menu_footer{
	display: inline-block;
    width: 20%;
    vertical-align: middle;
}
.menu_footer a{
	color: #fff;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}
.menu_footer li{
	width: 100%;
	margin: 2%;

}
.login{
	border: 1px solid #fff;
	padding-left: 5%;
	padding-right: 5%;
}
.pay{
	display: inline-block;
    width: 19%;
    vertical-align: middle;
}
.pay img{
	width: 15%;
	display: inline-block;
	height: auto;

}
.pay p{
	color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
}
.copy{
	display: inline-block;
	text-align: center;
	width: 100%;
}
.copy p{
	color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;

}
.mobileMenu {
    position: absolute;
    top: 42%;
    left: 5%;
    display: none;
    width: 92%;
}
.mobileIcon {
    width: 50px;
    height: 41px;
    background: url(image/mobile.png) 0 0 no-repeat;
    cursor: pointer;
    left: 3%;
    top: 10%;
    display: none;
    position: absolute;
}
.mobileMenu ul{
	display: none;
}
.menuListMobile li {
	width: 100%;
	background:#fff;
	padding: 20px;

}
.menuListMobile a{
	text-decoration: none;
	font-family: 'Oswald', sans-serif;
	cursor: pointer;
	color: #ed93e4;
}
.acc{
	display: inline-block;
	width: 80%;
}
h1{
	font-family: 'Oswald';
	color: #eeeeee;
	font-size: 40px;
	margin-bottom: 30px;
}
h3{
	font-family: 'Oswald';
	color: #eeeeee;
	font-size: 25px;
	background-color: rgba(238, 238, 238,0.2);
	border-radius: 5px;
	margin: -3px 10px;
	border: 0.5px solid #eeeeee;
	padding: 10px 10px;
	cursor: pointer;
}
.container-inner p{
	font-family: 'Oswald';
	color: #eeeeee;
	font-size: 15px;
	background-color: rgba(238, 238, 238,0);
	border-radius: 5px;
	margin: 10px 10px;
	padding: 10px 10px;
}
.content{
	display: none;
}
/* #Media Querie - 980
================================================== */

@media screen and (max-width: 980px) {
  header, .content_center, .product, footer{
  	width: 100%;
  }
	.menu {
	    width: 61%;
	    margin-left: 9%;
	}
	.logo{
		width: 28%;
	}
}
/* #Media Querie - 920
================================================== */

@media screen and (max-width: 920px) {
.product .neon { height: 120px;}
.product .neon2 { height: 142px;}
}
/* #Media Querie - 750
================================================== */

@media screen and (max-width: 750px) {
	 .menu {
	    width: 65%;
	    margin-left: 5%;
	}
}

/* #Media Querie - 720
================================================== */

@media screen and (max-width: 720px) {
	.menu {
		display: none;
	}
	header{
		text-align: center;
	}
	.logo {
		width: 45%;
	}

	.mobileMenu{
		display: block;
	}

	.mobileIcon {
		display: block;
	}
	 .content_center li{
	 	width: 95%;
	 	height: 100px;
	 	margin-right: 0;
	 	margin-bottom: 10px;
	 }
	 .content_center a{
	 	padding-top: 5%;
	 }
	 .content_center a:hover{
	    padding-top: 125%;
	    border: 4px solid #fff;
		font-size: 28px;
	 	padding-top: 5%;
	}
	.product li {
	    width: 46%;
	    position: relative;
	}
	.product .neon {
	    height: 160px;
	}
	.product .neon2 {
	    height: 184px;
	}
	.pay,
	.logo_footer,
	.menu_footer{
		display: none;
	}
	footer {
	    text-align: center;
	}
	.add_link {
	    display: inline-block;
	    margin-top: 20px;
	    width: 45%;
	    vertical-align: middle;
	}
	.address p{
		font-size: 18px;
	}
}

/* #Media Querie - 450
================================================== */

@media screen and (max-width: 450px) {
	.product li {
	    width: 100%;
	    position: relative;
	}
	.product .neon {
	    height: 220px;
	}
	.product .neon2 {
	    height: 240px;
	}
	.content_center li {
	    width: 95%;
	    height: 85px;
	    margin-right: 0;
	    margin-bottom: 10px;
	}
}
